:root {
  --accent-color: #3a4a4d;
  --white-color: #f9fbfb;
  --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.app {
  display: flex;
  align-items: flex-start;
  margin: 20px;
  gap: 20px;
}
.header {
  background-color: var(--accent-color);
  color: var(--white-color);
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--shadow);
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4em;
  gap: 10px;
}
.formSection {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  gap: 10px;
  width: 100%;
}
.inputSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 500px;
}
.cvContainer {
  background-color: var(--white-color);
  border-radius: 10px;
  flex: 1;
  padding: 20px;
  box-shadow: var(--shadow);
}
.cvPreview {
  /* border: 1px solid red; */
  outline: 1px solid;
  width: 900px;
  padding: 20px;
  margin: 0 auto;
  height: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  color: var(--accent-color);
}
.duration {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.inputsContainer {
  padding: 20px;
  background-color: var(--white-color);
  border-radius: 10px;
  box-shadow: var(--shadow);
}
.eduPreview {
  border-top: 1px solid #3a4a4d;
  border-bottom: 1px solid #3a4a4d;
}
.eduPreview,
.workPreview {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contactInfo {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.introductionText {
  margin: 20px 0;
}
textarea {
  resize: none;
}
.previewSection {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.entries {
  width: 100%;
  /* padding: 10px; */
}
.entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}
.entryOptions {
  display: flex;
  gap: 10px;
}
.btn {
  padding: 8px;
  border-radius: 4px;
  border: none;
  background-color: var(--accent-color);
  color: white;
  font-weight: 700;
}
.btn:hover {
  opacity: 0.9;
}
.btn:disabled {
  opacity: 0.4;
}
.btn.danger {
  background-color: rgb(252, 36, 36);
}
.textInput {
  height: 30px;
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 4px;
  outline: none;
}
.textBox {
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 10px;
  outline: none;
}
.textInput:active,
.textInput:focus,
.textBox:active,
.textBox:focus {
  border: 1px solid gray;
}
.sectionOptions {
  display: flex;
  gap: 15px;
}
