* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  display: flex;
}
.header {
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4em;
  gap: 10px;
}
.formSection {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  max-width: 500px;
  margin: 20px 0;
  gap: 10px;
}
